**Ques. What are data structures, and why are they important?**

**Ans.**  Data structure is the way of organizing and storing data so that it can be accessed and manipulated.
It is important because it helps to store data logically,it reduces the time and memory required for program. It speed up the performance.

 **Ques. Explain the difference between mutable and immutable data types with examples**

 **Ans.** If values can be changed after creation, then it is known as mutable. example: list
If values cannot be changed after creation, then it is known as immutable. example: tuple

 **Ques.What are the main differences between lists and tuples in Python?**

 **Ans.** Lists are ordered mutable collection of element while tuples are ordered immutable collection of elements. i.e. once elements are inserted it can get modify in lists but cannot be changed in tuple.

**Ques. Describe how dictionaries store data.**

**Ans.** Dictionaries stores the data in the form key value pair.
Example: dict = {"name": "abc"}

 **Ques. Why might you use a set instead of a list in Python?**

 **Ans.** set is preferred if we need no duplicates, and need to perform operations like intersection, union.

 **Ques.  What is a string in Python, and how is it different from a list?**

 **Ans.** strings are sequence of characters inserted in quotes (' ').
 It is different from as strings are immutable and lists are mutable.

 **Ques. How do tuples ensure data integrity in Python?**

 **Ans.** tuples are immutable, ensures efficiency due to it's fix size. it provides ordered data, sequemce of data cannot be changed.

**Ques. What is a hash table, and how does it relate to dictionaries in Python**

**Ans.** A hash table is a data structure that allows you to store and retrive value using key. Dictionary uses hash table internally.

**Ques. Can lists contain different data types in Python?**

**Ans.** Yes. list can contain any data tye, whether it is string, integer, float or boolean value.

 **Ques.Explain why strings are immutable in Python.**

 ** Ans. ** strings are immutable for various reasons:
 1. It save space in memory.
 2. Performance improved.
 3. It avoid unexpected changes.

 **Ques. What advantages do dictionaries offer over lists for certain tasks**

**Ans.** dictionary accessed by key while list accessed by index, keys in dictionary must be unique whereas in list values can be repeated.

 **Ques.How do sets handle duplicate values in Python?**

 **Ans.** set is an unordered collection of data. It automatically removes the duplicate data.

 **Ques. Describe a scenario where using a tuple would be preferable over a list.**

 **Ans.** Tuple is preferred when we want fixed orderd values that should not be changed throughout.
 i.e. if we enter someone's aadhar card number, that cannot be changed.

**Ques. How does the “in” keyword work differently for lists and dictionaries?**

**Ans.** The 'in' keyword find value in lists and find key in dictionary.

 **Ques. Can you modify the elements of a tuple? Explain why or why not**
 **Ans.** No, we cannot modify tuple because it is immutable. Hence, it cannot be change after creation. It remains constant throughout.

**Ques. What is a nested dictionary, and give an example of its use case**

**Ans.** Nested dictionary means dictionary within dictionary, it is used when we need to group data or create hierarchy.

**Ques. Describe the time complexity of accessing elements in a dictionary.**

**Ans.**

**Ques. In what situations are lists preferred over dictionaries?**

**Ans.** Lists are preffered when order of elements matter, when we are storing data of similar items or when we don't need to assign value with it's key.

 **Ques. Why are dictionaries considered unordered, and how does that affect data retrieval?**

 **Ans.** A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added.

 **Ques. Explain the difference between a list and a dictionary in terms of data retrieval.**

 **Ans.** Data is retrieved in list by numeric index while in dictionary it is retrieved by key index.

In [ ]:
 """1. Write a code to create a string with your name and print it"""
 name = "Savi"
 print(name)

Savi

In [ ]:
""" 2. Write a code to find the length of the string "Hello World"""
str = "Hello World"
print(len(str))

11

In [ ]:
"""3. Write a code to slice the first 3 characters from the string "Python
Programming"""
a = "Hello World"
print(a[0:3])

Hel

In [ ]:
"""4. Write a code to convert the string "hello" to uppercase"""
a = "hello"
print(a.upper())

HELLO

In [ ]:
"""5. Write a code to replace the word "apple" with "orange" in the string "I like apple"""
str = "I like apple"
fruit = str.replace("apple","orange")
print(fruit)

I like orange

In [ ]:
"""6. Write a code to create a list with numbers 1 to 5 and print it"""
mylist = [1,2,3,4,5]
print(mylist)

[1, 2, 3, 4, 5]

In [ ]:
"""7. Write a code to append the number 10 to the list [1, 2, 3, 4]"""
lst = [1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [ ]:
"""8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]"""
ls = [1,2,3,4,5]
ls.remove(3)
print(ls)

[1, 2, 4, 5]

In [ ]:
""" 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']"""
ls = ['a','b','c','d']
print(ls[1])

b

In [ ]:
""" 10.Write a code to reverse the list [10, 20, 30, 40, 50]."""
ls = [10,20,30,40,50]
ls.reverse()
print(ls)

[50, 40, 30, 20, 10]

In [ ]:
"""11. Write a code to create a tuple with the elements 100, 200, 300 and print it."""
tp = (100,200,300)
print(tp)

(100, 200, 300)

In [ ]:
 """12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')."""
t = ("red","green","blue","yellow")
print(t[-2])

blue

In [ ]:
 """13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)."""
t = (10,20,5,15)
a = min(t)
print(a)

5

In [ ]:
""" 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')."""
a = ("dog","cat","rabbit")
i = a.index("cat")
print(i)

1

In [ ]:
""" 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it."""
a = ("banana", "apple", "kiwi")
if "kiwi" in a:
  print("yes, kiwi is present in list")
else:
  print("no, kiwi is not present")

yes, kiwi is present in list

In [ ]:
""" 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it."""
s = {'a','b','c'}
print(s)

{'a', 'c', 'b'}

In [ ]:
""" 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}."""
a = {1,2,3,4,5}
a.clear()
print(a)

set()

In [ ]:
""" 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}."""
a = {1,2,3,4}
a.remove(4)
print(a)

{1, 2, 3}

In [ ]:
""" 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}."""
a = {1,2,3}
b = {3,4,5}
print(a|b)

{1, 2, 3, 4, 5}

In [ ]:
""" 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}."""
a = {1,2,3}
b = {2,3,4}
print(a&b)

{2, 3}

In [ ]:
""" 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it."""
a = {"name": "abc", "age": 25, "city": "delhi"}
print(a)

{'name': 'abc', 'age': 25, 'city': 'delhi'}

In [ ]:
""" 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}."""
d = {'name':'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
""" 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}."""
d = {'name': 'Alice', 'age': 30}
a = d['name']
print(a)

Alice

In [ ]:
 """24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}."""
a = {'name': 'Bob', 'age': 22, 'city': 'New York'}
a.pop('age')
print(a)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
""" 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}."""
a = {'name': 'Alice', 'city': 'Paris'}
if "city" in a:
  print("yes, it is present")
else:
  print("no, it is not present")

yes, it is present

In [ ]:
""" 26. Write a code to create a list, a tuple, and a dictionary, and print them all."""
ls = [1,2,3]
tp = (4,5,6)
dt = {'a': 1, 'b': 2, 'c': 3}
print('list: ', ls)
print('tuple: ', tp)
print('dictionary: ', dt)

list:  [1, 2, 3]
tuple:  (4, 5, 6)
dictionary:  {'a': 1, 'b': 2, 'c': 3}

In [ ]:
""" 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced)"""
a = [1,35,20,85,75]
a.sort()
print(a)

[1, 20, 35, 75, 85]

In [ ]:
"""28. Write a code to create a list with strings and print the element at the third index."""
a = ['hello', 'world', 'good', 'morning']
print(a[3])

morning

In [ ]:
""" 29. Write a code to combine two dictionaries into one and print the result."""
d = {'name': 'abc', 'age': 25}
d1 = {'city':'delhi'}
d.update(d1)
print(d)

{'name': 'abc', 'age': 25, 'city': 'delhi'}

In [ ]:
""" 30. Write a code to convert a list of strings into a set."""
a = [1,2,3,4,5]
b = set(a)
print('set: ', b)

set:  {1, 2, 3, 4, 5}